html body {
  background-color: antiquewhite;
  text-align: center;
}

h1 {
  color: #ef476f;
}

#images .card {
  padding: 5px;
  border: none;
}

.form-inline {
  padding-bottom: 1.5rem;
  justify-content: center;
}

#images .card-body {
  padding: 0;
  text-align: justify;
}

#images .card-body .card-title {
  color: white;
}

#images .card-body p p {
  padding: 0.25rem;
}
